
.profile-img{
    text-align: center;
}
@media screen and (min-width:200px) and (max-width: 576px){
    .profile-img{
        margin-top: 12px;
    }
}
table{
    font-size: 3vh;
}
.profile-form{
    margin:36px;
}
.profile-form img{
    border-radius: 14vh;
    width: 90%;
    margin: auto;

}