.alert{
    height: 300px;
}
.personal-cabinet{
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Monotype Corsiva";
    font-size: 20px;
}
.alert h3{
    text-align: center;
}
.menu-item a{
    font-size: calc(2vh + 2vw) !important;
    text-align: center;
}