.header{
    position: relative;
    height: 200px;
    background: url("/img/8.jpg") no-repeat center;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
}
.logo{
    width: 137px;
    height: 110px;
}
.cabinet-button{
    display: inline-block;
    margin-right:2px;
    margin-left:1px;
}
.header-button{
    position: absolute;
    bottom: 0;
    font-family: "Segoe Script";
}