.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: "Segoe Script";
    background-color: #A99687;
}

.footer img{
    width:70px;
    height: 70px    ;
}
.modal-body{
    height:200px;
    overflow: auto;
}
.footer li{
    list-style: none;
    font-size: 2vh;
}
.footer ul{
    text-align: right;
}
.list-group-item{
    background:none;
}
.information{
    background-color: rgba(2, 2, 2, 0.13);
}
.information label{
    display: block;
    margin-left: 12px;
    margin-top: 12px;
    font-size: 3vh !important;
}
@media screen and (min-width:200px) and (max-width: 576px){
    .list-group-item{
        text-align: center;
    }
}