.default{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
}
.default .card{
    padding: 15px;
}

.card img{
    border-radius: 14vh;
    width: 28vh;
    height: 28vh;
    margin: auto;
}