.App {
  text-align: center;
}
button, input{
  font-size: 4vh !important;
}
span{
  font-size: 2vh !important;
}
a, label {
  font-size: 4vh !important;
}
h1{
  font-size: 6vh;
}
div, li,h3,h2{
  font-size: 4vh;
}
.card{
  font-family: "Monotype Corsiva";
  font-size: 24px;
  background-color:  rgba(169, 150, 135, 0.58);
}
.container-fluid{
  background-color: #c6b6a9;
}
.not-found-page{
  height:300px;
}
.not-found-page h3{
  text-align: center;
}
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
